.stats{
    margin-top: 2rem;
    padding-top: 1rem;
    width: 12rem;
    background-color: aliceblue;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    height: 15rem;
    
}

.icon{

    text-align: center;
}

.rest{
    margin-left: 1rem;
}